[Unit]
Description=Crawler Master Service

[Service]
Type=forking
WorkingDirectory=/home/nano/sncrawler/
ExecStart=/target/universal/stage/bin/play-reactive-web-sockets -Dhttp.port=9999 &
ExecStop=/bin/kill -TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target